
<main class="main-area">

  <div class="main-content">

  <h2>YOUR TASKS</h2>

  <ol class="task-list">
    <%@tasks.each do |task|%>


      <%if task.completion_date == nil%>

        <p><li><%= link_to "#{task.action.capitalize}", task_path(task.id)%></li></p>
      <span class="incomplete"><%= link_to "Mark Complete", complete_task_path(task.id), method: :patch, class: "complete"%> |</span>

      <%else task.completion_date != nil%>

        <p><li id="completed"><%= link_to "#{task.action.capitalize}", task_path(task.id)%></li></p>
      <span class="complete"><%= link_to "Unmark Complete", complete_task_path(task.id), method: :patch, class: "complete"%> |</span>
      <%end%>


    <span><%= link_to "Edit", edit_task_path(task.id), method: :patch %> |</span>
    <span><%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete this task: #{task.action}?"}%></span>

    <%end%>
  </ol>

    </div>

</main>
