

<ol class="task-list">
  <%@tasks.each do |task|%>
  <p>
    <li><%= link_to "#{task.action.upcase}", task_path(task.id)%></li>
    <span class="complete"><%= link_to button_type complete_task_path(task.id), method: :patch, class: "complete"%> |</span>
    <span><%= link_to "Edit", edit_task_path(task.id), method: :patch %> |</span>
    <span><%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete this task: #{task.action}?"}%></span>
  </p>
</ol>




    <!-- <%if task.completion_date == nil%>
    <%= render partial: "completion_status", locals: { button_type: "Mark Complete"} %>
    <%else%>
    <%= render partial: "completion_status", locals: { button_type: "Unmark Complete"} %>
    <%end%> -->
