<!DOCTYPE html>
<html>
<head>
  <title>Task Controller by Chantelle</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="main-layout">
    <header class="layout-header">
      <h1>TASKLIST</h1>
    </header>

    <aside class="side-bar">
      <nav>
        <ul>
          <span class="side-bar-item">All Tasks</span>
          <span class="side-bar-item"><%= link_to "Add Task", new_task_path %></span>
        </ul>
      </nav>
    </aside>

    <main>
      <%= yield %>
    </main>


    <footer class="footer">&copy; Chantelle 2018</footer>
  </div>


</body>
</html>
